/** - reused from rottentomatoes.com css - **/
.icon {
	display: inline-block;
	vertical-align: text-bottom;
background: transparent url('http://amardeka.files.wordpress.com/2012/04/icons.png') no-repeat 
}

.icon.tiny {
	width: 16px;
	height: 16px;
}
.tiny.rotten {
	background-position: -272px -144px;
}

.tiny.fresh {
	background-position: -256px -144px;
}

.icon.rotten_bucket{
    width: 44px;
    height: 36px;
    background-position: -196px -8px;
    float:left;
    margin-top:3px;
    margin-left:3px;
}

.icon.fresh_tomato{
    width: 48px;
    height: 48px;
    background-position: -192px -48px;
    float:left;
    margin-top:3px;
    margin-left:3px;
}

.icon.fresh_bucket{
    width: 40px;
    height: 48px;
    background-position: -244px -48px;
    float:left;
    margin-left:3px;
}

.icon.rotten_tomato{
    width: 48px;
    height: 48px;
    background-position: -240px -97px;
    float:left;
    margin-top:3px;
    margin-left:3px;
}
.ratings{
    width: 120px;
    height: 50px;
    float:left;
    border-radius:5px;
    border-style:solid;
    border-width:1px;
    border-color:white;
    margin: 3px;
          background-image: linear-gradient(bottom, rgb(192,154,169) 29%, rgb(231,185,203) 65%, rgb(248,255,224) 30%);
          background-image: -o-linear-gradient(bottom, rgb(192,154,169) 29%, rgb(231,185,203) 65%, rgb(248,255,224) 30%);
          background-image: -moz-linear-gradient(bottom, rgb(192,154,169) 29%, rgb(231,185,203) 65%, rgb(248,255,224) 30%);
          background-image: -webkit-linear-gradient(bottom, rgb(192,154,169) 29%, rgb(231,185,203) 65%, rgb(248,255,224) 30%);
          background-image: -ms-linear-gradient(bottom, rgb(192,154,169) 29%, rgb(231,185,203) 65%, rgb(248,255,224) 30%);

          background-image: -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(0.29, rgb(192,154,169)),
                    color-stop(0.65, rgb(231,185,203)),
                   color-stop(0.3, rgb(248,255,224))
          );

}
.ratings:hover{
  border-color: #FF6666;  
  cursor: pointer;
}



.rbxrank_group {
    display:inline-block;
    float:left;
    margin:10px;
}
.rbxrank_elem {
    display:inline-block;
    padding-left:30px;
    padding-right:30px;
    border-radius:5px;
    border-style:solid;
    border-width:1px;
    border-color:white;
    margin: 3px;
    width:52px;
          background-image: linear-gradient(bottom, rgb(192,154,169) 29%, rgb(231,185,203) 65%, rgb(248,255,224) 30%);
          background-image: -o-linear-gradient(bottom, rgb(192,154,169) 29%, rgb(231,185,203) 65%, rgb(248,255,224) 30%);
          background-image: -moz-linear-gradient(bottom, rgb(192,154,169) 29%, rgb(231,185,203) 65%, rgb(248,255,224) 30%);
          background-image: -webkit-linear-gradient(bottom, rgb(192,154,169) 29%, rgb(231,185,203) 65%, rgb(248,255,224) 30%);
          background-image: -ms-linear-gradient(bottom, rgb(192,154,169) 29%, rgb(231,185,203) 65%, rgb(248,255,224) 30%);

          background-image: -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(0.29, rgb(192,154,169)),
                    color-stop(0.65, rgb(231,185,203)),
                   color-stop(0.3, rgb(248,255,224))
                  );
}

.rbxrank_elem:hover{
  border-color: #FF6666;  
  cursor: pointer;
}

.rbxrank_text {
    float:left;
    position:relative;
    top: 10px;
    font-size:25px;
    padding-left:6px;
    color: green;
}      

.rbxrank_pc {
    position:relative;
    top:10px;
    font-size:15px;
    color: green;
}

.rbxrank_small_text {
    position:relative;
    top: 0px;
    font-size:14px;
    color: green;
    padding-left:2px;
}      

.rbxrank_small_pc {
    position:relative;
    top:-2px;
    font-size:10px;
    color: green;
}

.rbxrank_text_abs {
    position:relative;
    top: 10px;
    left: 20px;
    font-size:25px;
    color: green;
}      

.rbxrank_busy 
{
    text-align:center;
    display:block;
    padding-left:0px;
    padding-right:0px;
    padding-top:2px;
    border-radius:5px;
    border-style:solid;
    border-width:1px;
    border-color:black;
    margin: 3px;
    height: 50px;
          background-image: linear-gradient(bottom, rgb(192,154,169) 29%, rgb(231,185,203) 65%, rgb(248,255,224) 30%);
          background-image: -o-linear-gradient(bottom, rgb(192,154,169) 29%, rgb(231,185,203) 65%, rgb(248,255,224) 30%);
          background-image: -moz-linear-gradient(bottom, rgb(192,154,169) 29%, rgb(231,185,203) 65%, rgb(248,255,224) 30%);
          background-image: -webkit-linear-gradient(bottom, rgb(192,154,169) 29%, rgb(231,185,203) 65%, rgb(248,255,224) 30%);
          background-image: -ms-linear-gradient(bottom, rgb(192,154,169) 29%, rgb(231,185,203) 65%, rgb(248,255,224) 30%);

          background-image: -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(0.29, rgb(192,154,169)),
                    color-stop(0.65, rgb(231,185,203)),
                   color-stop(0.3, rgb(248,255,224))
                  );
}

.rbxrank_busy span {
display: inline-block;
height: 100%;
opacity: 0.5;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
-webkit-transition: width .4s ease-in-out;
-moz-transition: width .4s ease-in-out;
-ms-transition: width .4s ease-in-out;
-o-transition: width .4s ease-in-out;
transition: width .4s ease-in-out;
}

.redbg span {
   background-color: #FF6666;
}

.stripes span {
-webkit-background-size: 30px 30px;
-moz-background-size: 30px 30px;
background-size: 30px 30px;
background-image: -webkit-gradient(linear, left top, right bottom,
color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
to(transparent));
background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
transparent 75%, transparent);
background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
transparent 75%, transparent);
background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
transparent 75%, transparent);
background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
transparent 75%, transparent);
background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
transparent 75%, transparent);
-webkit-animation: animate-stripes 3s linear infinite;
-moz-animation: animate-stripes 3s linear infinite;
}
@-webkit-keyframes animate-stripes {
0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
@-moz-keyframes animate-stripes {
0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.rbxrank_bar {
   position: relative;
   top: -30px;
   width: 0px;
}

.action_button {
float:left;
background-color:green;
padding: 2px;
color:white;
width: 20em;
margin:auto;
top: 18px;
border-color: white;
border: solid 1px;
border-bottom-color: white;
font-size: 15px;
}
.containerwrapper{
margin:auto;
       text-align:center;
width: 90%;
}
.testClass{
border:solid;
}
